module.exports = function(grunt) {

  // Project configuration.
  grunt.initConfig({
    pkg: grunt.file.readJSON('package.json'),
    removelogging: {
    dist: {
      expand: true,
      cwd: "{{ path_to_folder_to_removelogging }}",
      src: ['**/*.js', '!libs/**/*'],
      dest: "{{ path_to_folder_to_removelogging }}",
      options: {
        // see below for options. this is optional.
      }
     }
    },
    uglify: {
        all: {
            files: [{
                expand: true,
                cwd: "{{ path_to_folder_to_minify }}",
                src: ['**/*.js', '!**/*.min.js', '!libs/**/*'],
                dest: "{{ path_to_folder_to_minify }}",
                ext: '.js'
            }]
        }
    }
  });

  // Load the plugin that provides the "uglify" task.
  grunt.loadNpmTasks('grunt-contrib-uglify');
  grunt.loadNpmTasks("grunt-remove-logging");

  // Default task(s).
  grunt.registerTask('default', ['removelogging', 'uglify']);

};
