<!doctype html>
<html>
<head>
    <title>ES-131: User Login/Logout</title>
    <meta charset="utf-8"/>
    <script src="../static/js/vendor/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="../static/js/vendor/handlebars.js" type="text/javascript"></script>
    <script src="../static/js/vendor/ember.js" type="text/javascript"></script>
    <script src="../static/js/vendor/ember-data.js" type="text/javascript"></script>
    <script src="../static/js/vendor/tastypie_serializer.js" type="text/javascript"></script>
    <script src="../static/js/vendor/tastypie_adapter.js" type="text/javascript"></script>
    <script src="../static/js/testapp.js" type="text/javascript"></script>
</head>
<body>
{% verbatim %}
    <script type="text/x-handlebars">
        {{outlet}}
    </script>
    <script type="text/x-handlebars" data-template-name="testers-list">
        <h1>Testers </h1>
	{{#each tester in content}}
            <article>
                {{tester.uuid}}
            </article>
        {{/each}}
    </script>
    <script type="text/x-handlebars" data-template-name="add-tester">
        <h1>Login </h1>
        <h2>Enter your uuid: </h2>
	<form>
            {{view Ember.TextField valueBinding="tester" placeholder="Add a tester"}}
        </form>
    </script>
{% endverbatim %}
</body>
</html>