*.pyc
*.py~
*~
*ssh_key
.idea
.project
.pydevproject
*.log
*_root_password
ansible_hosts*
*_rebuild.sh
.settings/
lib/
bower_components/
node_modules/
.classpath
.gitignore
block
orka-pithos.jardesc
*.txt
*.pdf
*.properties
*.xml
