*.pyc
*.py~
*~
*ssh_key
.idea
.project
.pydevproject
*.log
*_root_password
ansible_hosts*
*_rebuild.sh
.settings/
bower_components/
node_modules/
.classpath
.gitignore
block
orka-pithos.jardesc
sonar-project.properties
*.txt
!LICENSE.txt
*.pdf
*.properties
*.xml
!workflow_ecosystem.xml
!workflow.xml
*.tar
*encrypt_key.py
tests/integration/*swp
