[Unit]
Description=Hiveserver

[Service]
Type=oneshot
ExecStart=/etc/init.d/hiveserver2 start
ExecStop=/etc/init.d/hiveserver2 stop
ExecReload=/etc/init.d/hiveserver2 restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target