<p></p>
<div class="well well-lg text-center v-center">
	<div class="row">
		<h2 id = 'id_title_help_experiments'>Reproducible Experiments Information</h2>
		<p></p>
		<p>Reproducible Research Metadata for saving and replaying experiments</p>
	</div>
</div>
<div class="col col-sm-3 text-left"><p>
    Reproducible Experiments metadata Example.
</p></div>
<div class="col col-sm-9">
<pre class="prettyprint lang-yaml">
cluster:
  size: 2
  disk_template: drbd
  flavor_master:
  - 2
  - 2048
  - 10
  flavor_slaves:
  - 2
  - 2048
  - 10
  image: Hadoop-2.5.2
  name: '[orka]-cluster_name'
  project_name: escience.grnet.gr
configuration:
  dfs_blocksize: '128'
  replication_factor: '1'
actions:  
 - start
 - put (~/test.xml,/user/hduser/)
 - run_job (hduser, "/usr/local/hadoop/bin/hadoop jar /usr/local/hadoop/share/hadoop/mapreduce/hadoop-mapreduce-examples-*.jar pi 2 10000")
 - get (/user/hduser/test.xml,~/test2.xml)
 - stop
 - format
 - start
</pre>
</div>

