<p></p>
<div class="well well-lg text-center v-center">
	<div class="row">
		<h2 id = 'id_title_help_experiments'>Reproducible Experiments Information</h2>
		<p></p>
		<p>Reproducible Research Metadata for saving and replaying experiments</p>
	</div>
</div>
<div class="col col-sm-3 text-left"><p>
    Reproducible Experiments metadata Example.
</p></div>
<div class="col col-sm-9">
<pre style="margin: 0; line-height: 125%">
cluster:
  size: 2
  disk_template: drbd
  flavor_master:
  - 2
  - 2048
  - 10
  flavor_slaves:
  - 2
  - 2048
  - 10
  image: Hadoop-2.5.2
  name: <span class="text-info">'[orka]-cluster_name'</span>
  project_name: escience.grnet.gr
configuration:
  dfs_blocksize: <span class="text-info">'128'</span>
  replication_factor: <span class="text-info">'1'</span>
actions:  
 - start
 - put (~/test.xml,/user/hduser/)
 - run_job (hduser, <span class="text-success">"/usr/local/hadoop/bin/hadoop jar /usr/local/hadoop/share/hadoop/mapreduce/hadoop-mapreduce-examples-*.jar pi 2 10000"</span>)
 - get (/user/hduser/test.xml,~/test2.xml)
 - stop
 - format
 - start
</pre>
</div>

