<div class="col-lg-8 ">
    <p></p>
        <img class="img-responsive" src="{{unbound STATIC_URL }}images/big_data_logo.png" alt="test" height="300" width="300"> <!-- height="300" width="768"-->
        {{unbound STATIC_URL }}
    </div>