<p></p>
<div class="well well-lg text-center v-center">
	<div class="row">
		<h2 id = 'id_title_features_videos'>Videos</h2>
		<p></p>
		<p>~ORKA in Action!</p>
	</div>
</div>
<div class="container col col-sm-12">
    <div class="col col-xs-12 visible-xs text-center">
        <br /><br /> 
        <span class="h4">These Videos require a higher analysis. <br />
        Resize your browser or use another media device.</span>
    </div>
    <!-- embedded media use <iframe/> tags -->
    {{#each row in videos_by_row}}
    <div class="row">
        <!-- hide on extra small size -->
        {{#each video in row.videos}}
        <div {{bind-attr class=row.colspec}}>
            <!-- wrap the video in a panel so we can easily put a legend on it-->
            <div class="panel panel-default">
              <div class="panel-body">
                <div {{bind-attr class=video.aspect}}>
                    <iframe class="embed-responsive-item" {{bind-attr src="video.video_src"}} allowfullscreen></iframe>
                </div>
              </div>
              <div id="id_video_legend" class="panel-footer">{{video.video_title}}</div>
            </div>
        </div>
        {{/each}}
    </div>
    <hr />
    {{/each}}
</div>
