<p></p>
<div class="well well-lg text-center v-center">
	<div class="row">
		<h2 id = 'id_title_features_videos'>Videos</h2>
		<p></p>
		<p>~ORKA in Action!</p>
	</div>
</div>

<div class="container col col-sm-12">
    <div class="col col-xs-12 visible-xs text-center">
        <br /><br /> 
        <span class="h4">These Videos require a higher analysis. <br />
        Resize your browser or use another media device.</span>
    </div>
    <!-- embedded media use <iframe/> tags -->
    <div class="row">
        <!-- hide on extra small size -->
        <div class="col col-sm-6 hidden-xs">
            <!-- wrap the video in a panel so we can easily put a legend on it-->
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y2Ky3Wo37AY" allowfullscreen></iframe>
                </div>
              </div>
              <div id="id_video_legend" class="panel-footer">Video 1, Row 1, 16x9 Aspect</div>
            </div>
        </div>
        <div class="col col-sm-6 hidden-xs">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y2Ky3Wo37AY" allowfullscreen></iframe>
                </div>
              </div>
              <div id="id_video_legend" class="panel-footer">Video 2, Row 1, 16x9 Aspect</div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col col-sm-6 hidden-xs">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y2Ky3Wo37AY" allowfullscreen></iframe>
                </div>
              </div>
              <div id="id_video_legend" class="panel-footer">Video 3, Row 2, 4x3 Aspect</div>
            </div>
        </div>
    </div>
</div>
