---
  - name: Copy sources.list file
    copy: src={{path_to_sources_list}} dest=/etc/apt/
    tags: preimage

  - name: Copy my_preferences file
    copy: src={{path_to_pref}} dest=/etc/apt/preferences.d/
    tags: preimage

  - name: Update and Upgrade
    shell: apt-get update && apt-get -y upgrade
    tags: preimage

  - name: Install aptitude tasksel
    shell: apt-get install -y aptitude tasksel;aptitude update
    tags: preimage

  - name: Install curl and wget
    command: apt-get install -y curl wget
    tags: preimage

  - name: Install apt keys
    apt_key: "url={{item.url}}"
    with_items:
      - { url: 'http://nginx.org/keys/nginx_signing.key' }
      - { url: 'http://packages.erlang-solutions.com/debian/erlang_solutions.asc' }
      - { url: 'https://www.rabbitmq.com/rabbitmq-signing-key-public.asc'}
      - { url: 'https://dev.grnet.gr/files/apt-grnetdev.pub'}
    tags: preimage

  - name: Update after apt-key installations
    command: apt-get update
    tags: preimage

  - name: Install pip
    shell: wget https://bootstrap.pypa.io/get-pip.py;python get-pip.py
    tags: preimage

  - name: Install passlib
    pip: name=passlib
    tags: preimage

  - name: Install RabbitMQ broker, PostgreSQL and needed dependencies
    tags: preimage
    apt: "name={{item}}"
    with_items:
      - gcc
      - python-dev
      - libpq-dev
      - erlang
      - rabbitmq-server
      - postgresql
      - postgresql-client
      - python-psycopg2
      - git
      - python-flup
      - nginx
      - sshpass
      - uwsgi-plugin-python
      - snf-image-creator

  - name: Install Celery, Django and Django rest framework
    tags: preimage
    pip: "name={{item.name}}"
    with_items:
      - { name: 'kamaki' }
      - { name: 'ansible==1.9.2' }
      - { name: 'celery==3.1.17' }
      - { name: 'Django' }
      - { name: 'rest_framework_ember' }
      - { name: 'djangorestframework==2.4.3' }
      - { name: 'django-admin-bootstrapped==2.4.0' }
      - { name: 'markdown' }
      - { name: 'django-filter==0.9.2' }
      - { name: 'djorm-pgarray==1.2' }
      - { name: 'paramiko' }
      - { name: 'uwsgi' }
      - { name: 'requests' }
      - { name: 'django-celery==3.1.16' }
      - { name: 'flower' }

  - name: create orka group
    group: name=orkagroup state=present
    tags: preimage

  - name: create orka_admin user
    user: name=orka_admin groups="orkagroup,sudo" shell=/bin/bash update_password=always password=$1$SomeSalt$W98.5N4Mc2EpxOTlI9MI20 state=present
    tags: preimage

  - name: copy local box master ssh key to orka_admin
    tags: preimage
    authorized_key: user=orka_admin key="{{ lookup('file', '~/.ssh/id_rsa.pub') }}"