<p></p>

<div class="well well-lg text-center v-center">
	<div class="row">
	<h2 id = 'id_title_cluster_create_route'>Hadoop Cluster Management</h2>
	<h3 id = 'id_title_clsuter_name'>{{content.cluster_name}}</h3>
</div>
</div>

<ul id="myTab" class="nav nav-tabs">
   <li class="active">
      <a href="#Info" data-toggle="tab">Info</a></li>
   <li><a href="#Access" data-toggle="tab">Access</a></li>
   <li><a href="#Manage" data-toggle="tab">Manage</a></li>
</ul>
<div id="myTabContent" class="tab-content">
   <div class="tab-pane fade in active" id="Info">
   		<h4 class="list-group-item-heading">Cluster</h4>
      	<ul class="list-group text-left">
      		<li> ID : {{model.cluster_id}}</li>
      		<li> Creation Date : </li>
      		<li> Cluster Status : </li>
      		<li> Hadoop Status : </li>
      		<li> Hadoop Version : </li>
      		<li> Master IP : </li>
      	</ul>
      	<p></p>
      	<p></p>
      	<h4 class="list-group-item-heading">Properties</h4>
      	<ul class="list-group text-left">
      		<li> Cluster size : {{model.cluster_size}}</li>
      		<li> Master Settings : </li>
      		<li> Slaves Settings : </li>
      	</ul>
   </div>
   <div class="tab-pane fade" id="Access">
      <a href="cluster url 8088/cluster">Cluster</a>
      <p></p>
      <a href="HDFS overview port 50070">HDFS Overview</a>
      <p></p>
      <a href="HDFS browse 50070/explorer.html#/">HDFS Browse</a>
      <p></p>
      <button  class = 'btn btn-primary btn-sm' action ='format hadoop'>Format HDFS</button>
   </div>
   <div class="tab-pane fade" id="Manage">
      <p></p>
      <button  class = 'btn btn-primary btn-sm' action ='start hadoop'>Start Hadoop</button>
      <p></p>
      <button  class = 'btn btn-primary btn-sm' action ='stop hadoop'>Stop Hadoop</button>
      <p></p>
      <button  class = 'btn btn-primary btn-sm' action ='destory cluster'>Destroy Cluster</button>
   </div>
</div>






