<div class="row">
	<div class="col-lg-12 text-center v-center">
		<br><br>
		<h2 id='id_title_user_login_route'> ~Okeanos Token </h2>
		<br><br>
		<form class="col-lg-12">
			<div class="input-group input-group-lg col-sm-offset-3 col-sm-6">
				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				{{view Ember.TextField valueBinding="token" placeholder="enter your ~okeanos token..." class="center-block form-control input-lg" id="token"}}
				<span class="input-group-btn"><button type="login" class="btn btn-lg btn-primary">Submit</button></span>
			</div>
			{{#if loginFailed}}
			<div id="id_alert_wrongtoken" class="alert alert-dismissable alert-danger col-sm-6 col-sm-offset-3">
			  <button type="button" class="close" data-dismiss="alert">×</button>
			  <strong>Wrong Token.</strong> Please <a href="#/user/login">try again.</a> 
			</div>
			{{/if}}
		</form>
	</div> 
</div> <!-- row -->