<p></p>
<div class="well well-sm text-center">
	<div class="row">
	<h3 id = 'id_title_user_welcome_route'> Welcome </h3>
	<div class="col col-sm-3"></div>
	<div class="alert alert-dismissable alert-success col-sm-6">
		<button type="button" class="close" data-dismiss="alert">×</button>
		Successfully <strong>logged in.</strong> You can {{#link-to 'cluster.create'}}create cluster{{/link-to}}  from the Services menu.
	</div>
	<div class="col col-sm-3"></div>
	</div>
</div>
<div class="row">
	<div class="col col-sm-6">
		<ul class="list-group list-unstyled">
			 <li class="list-group-item text-center">
			 	<h4 class="list-group-item-heading">User info</h4>
			 </li>
		  <li class="list-group-item text-md">
		    <span class="badge">{{model.user_id}}</span>
		    <h4>User ID:</h4>
		  </li>
		  <li class="list-group-item text-md">
		    <span class="badge">{{model.cluster}}</span>
		    <h4>Active Clusters: </h4>
		  </li>
		</ul>
	</div>
	<div class="col col-sm-6 pull-right">
		<p class="lead">Cluster creation command at the Services menu.</p>
		{{#if output_message}}
		<div class="alert alert-dismissable alert-warning text-center">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<span id='id_output_message'>{{output_message}}</span>
		</div>
		{{/if}}
	</div>
</div>
<hr>
{{partial 'user/userclusters'}}
