<div class="text-center" style="vertical-align: middle">
    <form class="form-horizontal" role="form">
        <div class="col-sm-5">

        </div>
        <div class="col-sm-7">
            <div class="form-group">
                <label class="control-label col-sm-5" for="id_number_of_slaves">Resize Cluster </label>
                <div class="input-group input-group-md col-sm-7">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-resize-small"></i></span>
                    <input id="id_number_of_slaves" type="text" class="form-control" readonly="readonly" placeholder="number">
                    <span class="input-group-btn">
                        <button id="id_slave_subtract" type="button" class="btn btn-primary">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                        <button id="id_slave_add" type="button" class="btn btn-primary">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button> 
                    </span>
                </div>
            </div>
            <div class="form-group">
                <button>Reset</button>
                <button>Apply</button>
            </div>
        </div>
    </form>
</div>
