<p></p>

<div class="well well-lg text-center v-center">
	<div class="row">
		<h2 id = 'id_title_dsl_manage_route'>Experiment Management</h2>
		<h3 id = 'id_title_dsl_name'>{{model.dsl_name}}</h3>
	</div>
</div>
<div>
	<pre><code>{{model.dsl_data}}</code></pre>
</div>