<div class="page-header row">
	<h2>ORKA</h2>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quod quis molestias corrupti optio quia cumque aut esse sit officiis consectetur consequuntur totam nulla perspiciatis laborum. Iusto possimus laudantium eum. Aspernatur illum sapiente veritatis dolorem nemo iste cum dicta beatae et quos id sint alias sit vel quibusdam officiis rem.
	</div>
	<div class="col-lg-8 col-md-8 hidden-sm hidden-xs pull-right">
		<img class="img-responsive" src="{{unbound STATIC_URL}}images/big_data_logo.png" alt="Hadoop cluster"> <!-- height="300" width="768"-->
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<p>
			WELCOME TO ORKA!
		</p>
		<h5>This is GRNET's Hadoop service, for the Greek Research and Academic Community. With ~orka you are one click away from your own Virtual Hadoop environment.</h5>
	</div>
	<div class="col-lg-6">
		<p>
			STATISTICS
		</p>
		<p class="col-lg-6">
			Spawned Clusters
		</p>
		<p class="col-lg-6">
			Active Clusters
		</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<hr/>
		<div class="col-lg-6">
			<p>
				LATEST NEWS
			</p>
			<p>
				5 months, 1 week ago, by okeanos
			</p>
		</div>
		<div class="col-lg-6">

		</div>
	</div>
</div>