<p></p>
<div class="well well-lg text-center v-center">
	<div class="row">
		<h2 id = 'id_title_help_hue'>Hue First Login Help</h2>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading h4 text-center">
		Images and correct user in first hue login
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-hover table-border">
			<tr>
	      		<td class="col-sm-2"> <b>Hue image</b> </td>
	      		<td class="col-sm-2"><span class="text text-info"> hduser </span></td>
	      	</tr>
	      	<tr>
	      		<td class="col-sm-2"> <b>Ecosystem image</b> </td>
	      		<td class="col-sm-2"> <span class="text text-info"> hduser </span> </td>
	      	</tr>
	      	<tr>
	      		<td class="col-sm-2"> <b>Cloudera image</b> </td>
	      		<td class="col-sm-2"> <span class="text text-info"> hdfs </span> </td>
	    	</tr>
		</table>
	</div>
</div>